<html>
  <head>
    <%= erb :style %>
    <link rel="stylesheet" href="dist/auto-complete.css"></link>
  </head>
  <body>
    <%= erb :menu, :locals => { :active => :boms, :prefix => prefix } %>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Part No / SKU</th>
      </tr>
      <% boms.each do |b| %>
      <tr>
        <td><%= b[:id] %></td>
        <td><a href="<%= prefix %>/boms/<%= b[:id] %>"><%= b[:name] %></a></td>
        <td><a href="<%= prefix %>/parts-find?part_number=<%= b[:part_number] %>"><%= b[:part_number] %></a></td>
      </tr>
      <% end %>
    </table>

    <h3>Add / Edit BOM</h3>

    <form method="POST" action="<%= prefix %>/boms">
      <div class="form-group">
        <label class="form-label">ID</label>
        <input class="form-input" type="text" name="id">
        
        <label class="form-label">Name</label>
        <input class="form-input" type="text" name="name">
        
        <label class="form-label">Part No / SKU</label>
        <input class="form-input" type="text" name="part_number">
      </div>
      <div class="form-group">
        <input type="submit" name="save" value="Save">
      </div>
    </form>
  </body>
</html>
