<html>
  <head>
    <%= erb :style %>
    <link rel="stylesheet" href="dist/auto-complete.css"></link>
  </head>
  <body>
    <%= erb :menu, :locals => { :active => :book, :prefix => prefix } %>
      <table>
        <tr>
          <th>Date</th>
          <th>Cr</th>
          <th>Amt</th>
          <th>Accounts (Debit, Credit)</th>
          <th class="details">Details</th>
          <th>Receipt</th>
          <th>Comment</th>
        </tr>
        <% months.keys.each do |mk| %>
        <% months[mk][:bookings].each do |b| %>
        <tr id="<%= b[:id] %>">
          <td class="date"><%= b[:date] %></td>
          <td class="amount"><%= b[:currency] %></td>
          <td class="amount <%= b[:css_class] %>"><%= '%.2f' % (b[:amount_cents]/100.0) %></td>
          <td><input type="text" id="book-<%= b[:id] %>-debit" value="<%= b[:debit_account] %>" class="account" onchange="saveBooking('<%= b[:id] %>')"><br><input type="text" id="book-<%= b[:id] %>-credit" value="<%= b[:credit_account] %>" class="account" onchange="saveBooking('<%= b[:id] %>')"></td>
          
          <td class="details">
            <b title="<%= b[:raw] %>"><%= b[:fields][:trailer]||"Bank?" %></b><br>

            <% if b[:type] == :paypal %>
              <a href="https://www.paypal.com/activity/payment/<%= b[:id] %>" target="_blank">🔍</a>
              <%= b[:fields][:email] %>
            <% end %>

            <%= b[:details] %>
          </td>
          
          <td>
            <ul>
            <% b[:receipt_urls].each do |r| %>
            <li><a href="<%= r %>"><%= File.basename(r) %></a></li>
            <% end %>
            </ul>
          </td>
          <td>
            <input type="text" id="book-<%= b[:id] %>-comment" class="comment" value="<%= b[:comment] %>">
            <button onclick="saveBooking('<%= b[:id] %>')">Save</button>
          </td>
        </tr>
        <% end %>
        <tr class="month-row">
          <td class="date"><%= mk %> Result</td>
          <td></td>
          <td class="amount">
            &nbsp;<%= '%.2f' % (months[mk][:earn_cents]/100.0) %><br>
            -&nbsp;<%= '%.2f' % (months[mk][:spend_cents]/100.0) %><br>
            =&nbsp;<%= '%.2f' % ((months[mk][:earn_cents]-months[mk][:spend_cents])/100.0) %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </table>

      <script src="dist/auto-complete.min.js"></script>
      <script src="dist/book.js"></script>

      <script>
        ACCOUNTS  = <%= accounts.to_json %>
        DOCUMENTS = <%= documents.to_json %>
      </script>
      
      <script>
        function saveBooking(id) {
          key = "book-"+id
          
          data = {
            id: id,
            debit_account:  document.getElementById(key+"-debit").value,
            credit_account: document.getElementById(key+"-credit").value,
            comment: document.getElementById(key+"-comment").value
          }

          console.log("saveBooking:", data)

          var url = "book/"+id
          var xhr = new XMLHttpRequest()
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
              console.log(xhr.response)
              try {
                var obj = JSON.parse(xhr.response)
                new Noty({
                  text: "Booking updated: "+obj.id
                }).show()
              } catch (e) {
                alert("Sorry, an error occured: "+xhr.response)
              }
            }
          }
          xhr.open("POST", url, true)
          xhr.setRequestHeader("Content-type", "application/json")
          xhr.send(JSON.stringify(data))
        }
      </script>
  </body>
</html>
