<html>
  <head>
    <%= erb :style %>
  </head>
  <body>
    <%= erb :menu, :locals => { :active => :book, :prefix => prefix } %>
    <form action="/todo" method="POST">
      <table>
        <tr>
          <th>Date</th>
          <th>Cr</th>
          <th>Amt</th>
          <th>Debit</th>
          <th>Credit</th>
          <th class="details">Details</th>
          <th>Receipt</th>
          <th>Comment</th>
        </tr>
        <% months.keys.each do |mk| %>
        <% months[mk][:bookings].each do |b| %>
        <tr class="<%= b[:css_class] %>" id="<%= b[:id] %>">
          <td class="date"><%= b[:date] %></td>
          <td class="amount"><%= b[:currency] %></td>
          <td class="amount"><%= '%.2f' % (b[:amount_cents]/100.0) %></td>
          <td><%= b[:debit_account] %></td>
          <td><%= b[:credit_account] %></td>
          
          <td class="details">
            <b title="<%= b[:raw] %>"><%= b[:fields][:trailer]||"Bank?" %></b><br>

            <% if b[:type] == :paypal %>
              <a href="https://www.paypal.com/activity/payment/<%= b[:id] %>" target="_blank">🔍</a>
              <%= b[:fields][:email] %>
            <% end %>

            <%= b[:details] %>
          </td>
          
          <td>
            <ul>
            <% b[:receipt_urls].each do |r| %>
            <li><a href="<%= r %>"><%= r.gsub("/pdf/","") %></a></li>
            <% end %>
            </ul>
          </td>
          <td>
            <input type="text" value="<%= b[:comment] %>">
          </td>
        </tr>
        <% end %>
        <tr class="month-row">
          <td class="date"></td>
          <td></td>
          <td class="amount"><%= '%.2f' % (months[mk][:sum_cents]/100.0) %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </table>
    </form>
  </body>
</html>
