<html>
  <head>
    <%= erb :style %>
  </head>
  <body>
    <%= erb :menu, :locals => { :active => :invoices, :prefix => prefix } %>
    <form action="/todo" method="POST">
      <table>
        <tr>
          <th>Date</th>
          <th>Cr</th>
          <th>Amt</th>
          <th>Debit</th>
          <th>Credit</th>
          <th>Method</th>
          <th class="details">Name</th>
          <th>Receipt</th>
        </tr>
        <% invoices.each do |b| %>
        <tr>
          <td class="date"><%= b[:date] %></td>
          <td class="amount"><%= b[:currency] %></td>
          <td class="amount"><%= '%.2f' % (b[:amount_cents]/100.0) %></td>
          <td><%= b[:debit_account] %></td>
          <td><%= b[:credit_account] %></td>
          <td><%= b[:invoice_payment_method] %></td>
          <td class="details"><%= b[:invoice_company] %><br><%= b[:invoice_name] %></td>
          <td>
            <% b[:receipt_urls].each do |r| %>
              <a href="<%= r %>"><%= r %></a>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </form>
  </body>
</html>
