<nav>
  <span id="logo">
  <b><img src="<%= prefix %>/dist/mnt-logo-2015.png"> Books</b>
  </span>

  <span>
  <% if active == :book %>
  Booked: <a href="<%= prefix %>/book">All</a> | 
  <a href="<%= prefix %>/book?year=2019">2019</a> | 
  <a href="<%= prefix %>/book?null_account=1">No Account</a>
  <% else %>
  <a href="<%= prefix %>/book">Booked</a>
  <% end %>
  </span>
  
  <span>
  <% if active == :todo %>
  Unbooked
  <% else %>
  <a href="<%= prefix %>/todo">Unbooked</a>
  <% end %>
  </span>
  
  <span>
  <% if active == :docs_unfiled %>
  Docs
  <% else %>
  <a href="<%= prefix %>/documents?state=unfiled">Docs</a>
  <% end %>
  </span>
  
  <span>
  <% if active == :invoices %>
  Invoices
  <% else %>
  <a href="<%= prefix %>/invoices">Invoices</a>
  <% end %>
  </span>
  
  <span>
  <% if active == :new_invoice %>
  New Invoice
  <% else %>
  <a href="<%= prefix %>/invoices/new">New Invoice</a>
  <% end %>
  </span>
  
  <span>
  <% if active == :stats %>
  Stats
  <% else %>
  <a href="<%= prefix %>/stats?year=2019">Stats</a>
  <% end %>
  </span>
  
  <span>
  <% if active == :export %>
  Export
  <% else %>
  <a href="<%= prefix %>/export">Export</a>
  <% end %>
  </span>
  
  <span>
  <% if active == :parts %>
  <a href="<%= prefix %>/parts"><b>Parts</b></a>
  <% else %>
  <a href="<%= prefix %>/parts">Parts</a>
  <% end %>
  </span>
  
  <span>
  <% if active == :boms %>
  <a href="<%= prefix %>/boms"><b>BOMs</b></a>
  <% else %>
  <a href="<%= prefix %>/boms">BOMs</a>
  <% end %>
  </span>
  
  <span>
  <% if active == :pos %>
  <a href="<%= prefix %>/purchase-orders"><b>POs</b></a>
  <% else %>
  <a href="<%= prefix %>/purchase-orders">POs</a>
  <% end %>
  </span>
  
  <span>
  <% if active == :builds %>
  <a href="<%= prefix %>/builds"><b>Builds</b></a>
  <% else %>
  <a href="<%= prefix %>/builds">Builds</a>
  <% end %>
  </span>
</nav>