<html>
  <head>
    <%= erb :style %>
    <style>
      .number-table td, th {
      text-align: right;
      font-variant-numeric: tabular-nums;
      }
    </style>
  </head>
  <%= erb :menu, :locals => { :active => :stats, :prefix => prefix } %>

  <p><small>Values are 1000s of EUR.</small></p>
  
  <body>
    <table class="number-table">
      <tr>
        <th>Month:</th>
        <% months.each do |m| %>
        <th><%= m[:month] %></th>
        <% end %>
        <th><%= year %></th>
      </tr>
      <tr>
        <th>Spend:</th>
        <% months.each do |m| %>
        <td>
          <b><%= m[:spend] %></b><br>
          <table class="number-table">
            <% m[:spend_accounts].each do |sa| %>
            <tr>
              <td>
                <%= sa['credit_account'] %>
                <% if (sa['credit_account'].size<2) %>
                <i>no account!</i>
                <% end %>
              </td>
              <td>
                <%= sa['spend'] %>
              </td>
            </tr>
            <% end %>
          </table>
        </td>
        <% end %>
        <th><%= year_spend %></th>
      </tr>
      <tr>
        <th>Earnings:</th>
        <% months.each do |m| %>
        <td>
          <b><%= m[:earn] %></b><br>
          
          <table class="number-table">
            <% m[:earn_accounts].each do |sa| %>
            <tr>
              <td>
                <%= sa['debit_account'] %>
                <% if (sa['debit_account'].size<2) %>
                <i>no account!</i>
                <% end %>
              </td>
              <td>
                <%= sa['earn'] %>
              </td>
            </tr>
            <% end %>
          </table>
        </td>
        <% end %>
        <th><%= year_earn %></th>
      </tr>
      <tr>
        <th>Profit/Loss:</th>
        <% months.each do |m| %>
        <td class="amount <% if (m[:profit]).to_f<0 %>negative<% else %>positive<% end %>"><b><%= m[:profit] %></b></td>
        <% end %>
        <th><%= year_profit %></th>
      </tr>
    </table>
  </body>
</html>
