<html>
  <head>
    <%= erb :style %>
    <link rel="stylesheet" href="dist/auto-complete.css"></link>
  </head>
  <body>
    <%= erb :menu, :locals => { :active => :todo, :prefix => prefix } %>
    <form action="todo" method="POST">
      <table>
	      <tr>
          <th>Date</th>
          <th>Cr</th>
          <th>Amt</th>
          <th>Details</th>
          <th>Account</th>
          <th>Receipt</th>
          <th>Comment</th>
	      </tr>
        <% bookings.each do |b| %>
        <tr>
          <td class="date"><%= b[:date] %></td>
          <td class="amount"><%= b[:currency] %></td>
          <td class="amount <%= b[:amount_cents]>0?'positive':'' %>"><%= '%.2f' % (b[:amount_cents]/100.0) %></td>
          <td class="details">
            <b title="<%= b[:raw] %>"><%= b[:fields][:trailer]||"Bank?" %></b><br>

            <% if b[:type] == :paypal %>
              <a href="https://www.paypal.com/activity/payment/<%= b[:id] %>" target="_blank">🔍</a>
              <%= b[:fields][:email] %>
            <% end %>

            <%= b[:details] %>
          </td>
          <td>
            <label><input placeholder="Account" id="acc-<%= b[:id] %>" type="text" name="booking-<%= b[:id] %>-account" class="account"></label>
          </td>
          <td>
            <label>
              <input id="rcpt-<%= b[:id] %>" type="hidden" name="booking-<%= b[:id] %>-receipts" class="receipts">
              <span id="rcpt-<%= b[:id] %>-previews"></span>
              <input placeholder="New Receipt" id="rcpt-<%= b[:id] %>-new" type="text" name="booking-<%= b[:id] %>-receipt" class="receipt" onblur="makeReceiptList('rcpt-<%= b[:id] %>')">
            </label>
          </td>
          <td>
            <label><input placeholder="Comment" id="comment-<%= b[:id] %>" type="text" name="booking-<%= b[:id] %>-comment" value="<%= default_comment %>" class="comment"></label>
          </td>
        </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><input type="submit" value="Save"></td>
        </tr>
      </table>
    </form>

    <script>
      ACCOUNTS  = <%= accounts.to_json %>
      DOCUMENTS = <%= documents.to_json %>
    </script>
    
    <script src="dist/auto-complete.min.js"></script>
    <script src="dist/book.js"></script>
  </body>
</html>
